html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


body {
    font-family: 'Orbitron', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
}

.card-price {
    font-weight: bold;
}

.card-text {
    max-height: 50px; /* Açýklamanýn yükseklik sýnýrý */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btn-outline-secondary {
    border-color: #6c757d;
    color: #6c757d;
}

    .btn-outline-secondary:hover {
        background-color: #6c757d;
        color: white;
    }

.modal-body img {
    max-height: 300px;
    object-fit: cover;
}

.font-weight-bold {
    font-weight: 500;
}