<div class="sidebar ">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg">
			</div>
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span class="text-dark">
						Kullanıcı Paneli
						<span class="user-leveltext-dark">@ViewBag.UserName </span>
						
					</span>
				</a>
				

			</div>
		</div>
		<ul class="nav">
			<li class="nav-item">
				<a href="/Users/Property/GetAll">
					<i class="la la-motorcycle text-primary"></i>
					<p class="text-dark">İlanları Gör</p>
				</a>
			</li>
	
			<li class="nav-item">
				<a href="/Users/Property/GetMyPropertyList">
					<i class="la la-music text-primary"></i>
					<p class="text-dark">İlanlarım</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Users/Favorite/MyFavorite">
					<i class="la la-keyboard-o text-primary"></i>
					<p class="text-dark">Favorilerim</p>
				</a>
			</li>
	
			<li class="nav-item">
				<a href="/Users/Property/CreateProperty">
					<i class="la la-bell text-primary"></i>
					<p class="text-dark">İlan Ekle</p>
				</a>
			</li>
			
		
		
			<li class="nav-item">
				<a href="/Login/Logout/">
					<i class="la la-expeditedssl text-primary"></i>
					<p>Çıkış Yap</p>
				</a>
			</li>
			
		</ul>
	</div>
</div>