@model CreatePropertyDto
@{
    ViewData["Title"] = "CreateProperty";
    Layout = "~/Views/Default/_Layout.cshtml";
}



<div class="content"> 
<h4 class="page-title">Yeni İlan Ekle</h4>
<div class="row">
    <div class="col-md-12"> 
        <div class="card">
            <div class="card-header">
                <div class="card-title">İlan Bilgileri</div>
            </div>
            <div class="card-body">
                <form  method="post"> <!-- ASP.NET form -->
                    <div class="form-group">
                        <label for="Title">Başlık</label>
                        <input type="text" class="form-control" id="Title" name="Title" asp-for="Title" placeholder="İlan Başlığı" required />
                    </div>
                    <div class="form-group">
                        <label for="Description">Açıklama</label>
                        <textarea class="form-control" id="Description" asp-for="Description" name="Description" placeholder="İlan Açıklaması" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="Price">Fiyat</label>
                        <input type="number" class="form-control" id="Price" name="Price" asp-for="Price" placeholder="Fiyat" required />
                    </div>
               
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                        <a href="/User/Property/Index" class="btn btn-secondary">Geri</a>

                </form>
            </div>
        </div>
    </div>
    </div>
    </div> 


